.projectBlock {
    min-height: 100vh;
    /*background-color: #101011;*/
    /*background-color: #a093c4;*/
}

.projectContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projects {
    /*background-color: #b7b1b1;*/
    /*border: 1px solid;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

@media screen and (max-width: 1200px) {
    .projects{
        flex-direction: column;
        align-items: center;
    }
}