.projectBlock {
  min-height: 100vh;

  .projectContainer {
    flex-direction: column;
    justify-content: flex-start;

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
      @media screen and (max-width: 1200px) {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}