@import "../../common/styles/sass/mixins";

.projectBlock {
  min-height: 100vh;

  .projectContainer {
    @include flex(column, flex-start, center, wrap);
    @include container();

    .projects {
      width: 100%;
      @include flex(row, space-between, flex-start, wrap);

      @media screen and (max-width: 750px) {
        flex-direction: column;
        align-items: center;
        font-size: 14px;
      }
    }
  }
}