.projectBlock {
    min-height: 100vh;
    background-color: #a093c4;
}

.projectContainer {
    flex-direction: column;
    justify-content: flex-start;
}


.title {
    background-color: #b7b1b1;
}

.projects {
    background-color: #b7b1b1;
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}