@import "../../../../common/styles/sass/variables", "../../../../common/styles/sass/mixins";

.itemContainer {
  @include flex(row, start, center, none);

  margin-top: 25px;

  .contactLink {
    text-decoration: none;
    color: $mainTextColor;
    margin-left: 15px;
  }

}
