@import "../../common/styles/sass/mixins";

.footerBlock {
  min-height: 40vh;

  .footerContainer {
    @include flex(column, center, center, nowrap);
    @include container();

    .iconContainer {
      width: 280px;
      @include flex(row, space-between, center, wrap);
    }

    .copyright {
      margin: 20px 0 0 0;
    }
  }
}




