.footerBlock {
    height: 40vh;
    background-color: #f1c4be;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    background-color: #b7b1b1;
}

.iconContainer {
    border: 1px solid black;
    width: 280px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: gray;
    flex-wrap: wrap;
}

.copyright {
    margin: 20px 0 0 0;
}