.footerBlock {
  height: 40vh;

  .footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .iconContainer {
      width: 280px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .copyright {
      margin: 20px 0 0 0;
    }
  }
}




