@import "../../../common/styles/sass/variables", "../../../common/styles/sass/mixins";

.formContainer {
  max-width: 300px;
  width: 100%;
  @include flex(column, center, center, none);

  & input, & textarea {
    font-size: 16px;
    width: 280px;
    cursor: default;
    //background-color: $bgSecondaryColor;
    //color: grey;
  }

  .textarea {
    min-height: 150px;
  }

  .button {
    height: 50px;
    width: 180px;
    border: $primaryColor;
  }
}
