@import "../../../common/styles/sass/variables";

.formContainer {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;

  & input, & textarea {
    width: 280px;
    cursor: default;
    //background-color: $bgSecondaryColor;
    //color: grey;
  }

  .textarea {
    min-height: 150px;
  }

  .button {
    height: 50px;
    width: 180px;
    border: $primaryColor;
  }
}
