@import "../../../common/styles/sass/variables", "../../../common/styles/sass/mixins";

.formContainer {
  max-width: 350px;
  width: 98%;
  @include flex(column, center, center, none);

  span{
    margin-bottom: 10px;
  }

  & input, & textarea {
    font-size: 16px;
    width: 98%;
    cursor: default;
    background-color: $bgSecondaryColor;
    color: grey;
    border-color: $bgSecondaryColor;
    border-radius: 5px;
  }

  .textarea {
    margin-top: 5px;
    min-height: 150px;
  }

  .button {
    //margin-left: 15px;
    height: 50px;
    width: 180px;
    border: $primaryColor;
    padding-top: 0px;
  }
}
