@import "../styles/sass/variables", "../styles/sass/mixins";

.link {
  width: 130px;
  height: 40px;
  background-color: $primaryColor;
  padding: 10px;
  border-radius: 40px;
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
  text-decoration: none;
  color: $mainTextColor;

  @include text($mainFontFamily,  400, 18px, 30px);

  &:hover {
    background-color: #009e66;
  }
}
