@import '../../common/styles/sass/variables', "../../common/styles/sass/mixins";

.nav {
  max-width: 310px;
  @include flex(row, space-around, center, none);
  text-decoration: none;
  font-size: 18px;

  .link {
    text-decoration: none;
    color: $mainTextColor;
    margin-right: 10px;

    &:hover {
      color: $primaryColor;
    }
    @media screen and (max-width: 575px) {
      font-size: 16px;
      margin: 0 3px;
    }
  }
  //
  //.active {
  //  color: $primaryColor;
  //}
}
