@import "../../../common/styles/sass/variables", "../../../common/styles/sass/mixins";

.skill {
  width: 280px;
  background-color: $bgSecondaryColor;
  min-height: 100px;
  @include flex(column, center, center, nowrap);
  text-align: center;
  align-self: stretch;
  padding: 20px;
  box-sizing: border-box;
  margin: 2px;

  @media screen and (max-width: 550px) {
    width: 350px;
  }

  .icon {
    width: 60px;
    height: 60px;
    @include flex(column, center, center, nowrap);
    color: $primaryColor;
  }

  .description {
    @include text($secondaryFontFamily, 400, 16px, 24px);
    margin: 15px 0;
    padding-top: 20px;
    color: $secondaryTextColor;

    p {
      text-align: justify-all;
      margin: 4px 0;
    }
  }

}
