.skill {
    width: 250px;
    background-color: #1f1f20;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    font: 400 14px/1.8 'Poppins', sans-serif;
    margin: 15px 0;
}