@import "../../../common/styles/sass/variables";

.contactDetailsContainer {
  max-width: 580px;
  height: 100px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  cursor: default;

  margin-left: 50px;
  @media screen and (max-width: 750px) {
  margin: 20px 0;
  }
}