@import "../../common/styles/sass/variables";

.contactsBlock {
  min-height: 40vh;

  .contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .detailsContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
      align-items: baseline;

      @media screen and (max-width: 750px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
      }
    }
  }
}