.skillsBlock {
    height: 100vh;
    background-color: #c4dea2;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #b7b1b1;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-between;
    flex-wrap: wrap;

}

