@import "../../../common/styles/sass/variables";

.icon {
  width: 30px;
  height: 30px;
  flex-wrap: wrap;
  text-decoration: none;
  color: $mainTextColor;
  margin-left: 5px;

  &:hover{
    color: $primaryColor;
  }
}