@import "../../../common/styles/sass/variables", "../../../common/styles/sass/mixins";

.projectContainer {
  background-color: $bgSecondaryColor;
  max-width: 530px;
  width: 95%;
  @include flex(column, left, left, wrap);
  font-size: medium;
  margin: 5px;
  transition: 0.3s;
  border-radius: 6px;

  &:hover {
    transform: translate(0, -10px);
  }

  .title {
    text-align: center;
  }

  .projectDescription {
    padding: 5px 20px;
    box-sizing: border-box;
    color: $secondaryTextColor;
  }

  .projectLink {
    color: $mainTextColor;

    &:hover {
      color: $primaryColor;
      text-decoration: none;
    }

    @media screen and (max-width: 760px) {
      font-size: 12px;
    }
  }


  @media screen and (max-width: 760px) {
    //max-width: 350px;
    max-width: 95%;
  }
}