@import "../../common/styles/sass/variables";

.header {
  height: 80px;
  background-color: $bgSecondaryColor;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 100px;
  //position: fixed;
  //z-index: 2;
  //margin: 0;
  @media screen and (max-width: 575px) {
    justify-content: center;
    padding: 0;
  }

}