@import "../../common/styles/sass/variables",  "../../common/styles/sass/mixins";

.header {
  height: 80px;
  min-width: 100%;
  background-color: $bgSecondaryColor;
  @include flex(row, flex-end, center, none);
  position: fixed;
  z-index: 3;

  .iconContainer {
    margin: 10px;
    padding-right: 100px;

    @media screen and (max-width: 450px) {
      margin: 0;
    }
  }

  @media screen and (max-width: 820px) {
    justify-content: center;
    padding: 0;
  }

}