.App {
    /*font-family: 'DM Sans', sans-serif;*/
    font-family: Inter,sans-serif;
    color: #fff;
    background: linear-gradient(to left, #101011, #4d5262);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

h1 {
    font-size: 45px;
    margin-bottom: 10px;
    line-height: 45px;
    text-transform: capitalize;
    font-weight: 700;
    margin-top: 0;
}

h3 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: 700;
}


h5 {
    line-height: 39px;
    color: #59c378;
    margin-top: 0;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600;
}

