@import "./variables";

@mixin text($fontFamily, $fontWeight, $fontSize, $lineHeight) {
  font-family: $fontFamily;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $textColor
}

@mixin bgImage() {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}