@import "./variables";

@mixin text($fontFamily, $fontWeight, $fontSize, $lineHeight) {
  font-family: $fontFamily;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $mainTextColor
}

@mixin bgImage() {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin container() {
  width: 85%;
  margin: 0 auto;
  @media screen and (max-width: 785px) {
    width: 90%;
  }
  @media screen and (max-width: 575px) {
   min-width: 100%;
  }
}

@mixin flex($direction, $justifyContent, $alignItems, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $wrap;
}