$mainTextColor: #ffffff;
$secondaryTextColor: #bfbfbf;

$primaryColor: #59c378;
$secondaryColor: #5898c3;

$bgPrimaryColor: linear-gradient(to left, #101011, #4d5262);
$bgSecondaryColor: #1f1f20;

$mainFontFamily: Inter, sans-serif;
//$secondaryFontFamily: "Roboto", helvetica, arial, sans-serif;
$secondaryFontFamily: 'Poppins', sans-serif;