@import "../../common/styles/sass/variables.scss", "../../common/styles/sass/mixins";

.mainBlock {
  min-height: 100vh;
  @include flex(row, space-around, center, wrap);
  @include container();

  .photo {
    width: 320px;
    height: 480px;
    @media screen and (max-width: 820px) {
      margin: 20px auto 0;
    }
    &:hover{

    }
    @media screen and (max-width: 575px) {
      height: 350px;
      object-fit: cover;
      object-position: 100% 30%;
    }
  }

  .text {
    width: 400px;
    @include flex(column, flex-start, left, none);
    margin: 30px;

    .greeting {
      @include text($mainFontFamily, 700, 35px, 45px);
      text-transform: capitalize;
      color: $primaryColor;
    }

    &:nth-child(2n){
      @include text($mainFontFamily, 700, 35px, 45px);
      text-transform: capitalize;
      color: $mainTextColor;
    }

    @media screen and (max-width: 820px) {
      margin: 20px auto;
      align-items: center;
      width: 300px;
    }
  }
}