@import "../../common/styles/sass/variables.scss", "../../common/styles/sass/mixins";

.mainBlock {
  min-height: 100vh;
  display: flex;
  align-items: center;

  .photo {
    width: 300px;
    height: 440px;
    //margin: 0 10px;
  }

  .text {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin: 20px;

    .greeting {
      @include text($mainFontFamily, 700, 35px, 45px);
      text-transform: capitalize;
      color: $secondaryColor;
    }

    @media screen and (max-width: 575px) {
      width: 300px;
    }

  }

  .iconContainer {
    width: 28px;
    height: 100px;
    position: relative;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: 1000px) {
      flex-direction: row;
      width: 100px;
      margin: 20px 20px 0 20px;
    }

  }
}
