@import "../../common/styles/sass/variables.scss", "../../common/styles/sass/mixins";

.mainBlock {
  min-height: 100vh;
  display: flex;
  align-items: center;

  .photo {
    width: 300px;
    height: 440px;
    @media screen and (max-width: 820px) {
      margin: 0 auto;
    }
    @media screen and (max-width: 575px) {
      height: 350px;
      object-fit: cover;
      object-position: 100% 30%;
    }
  }

  .text {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin: 30px;

    .greeting {
      @include text($mainFontFamily, 700, 35px, 45px);
      text-transform: capitalize;
      color: $secondaryColor;
    }

    @media screen and (max-width: 820px) {
      margin: 20px auto;
      align-items: center;
      width: 300px;
    }
  }
}
